<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <resultMap id="UserMap" type="User">
        <id property="id" column="id"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO users (login, password, email, role)
        VALUES (#{login}, #{password}, #{email}, #{role})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE users SET login = #{login}, password = #{password},
                         email = #{email}, role = #{role}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>
