<div class="container">
  <h2>Вход</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="username">Логин:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Войти</button>
    <a routerLinkActive="active" routerLink="/registration">Регистрация</a>
  </form>
</div>
<router-outlet></router-outlet>
