<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regis</title>
</head>
<body>

<form class="login100-form validate-form" th:method="POST" th:action="@{/auth/registration}" th:object="${userDTO}">
				<span class="login100-form-title p-b-37">
					Тіркелу
				</span>
  <div class="wrap-input100 validate-input m-b-20" data-validate="Аты-жөніңіз дұрыс енгізілмеді" >
    <input class="input100" type="text" th:field="*{login}" id="login" placeholder="Login*">
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login </div>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 validate-input m-b-20" data-validate="Почтаңыз дұрыс енгізілмеді">
    <input class="input100" type="email" th:field="*{email}"  id="email" placeholder="Почтаңызды енгізіңіз *">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Почтаңыз дұрыс емес</div>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 validate-input m-b-25" data-validate="Пароль">
    <input class="input100" type="password" th:field="*{password}"  id="password" placeholder="Пароль *">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль қате енгізілді</div>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 validate-input m-b-25" data-validate="Парольді қайталаңыз">
    <input class="input100" type="password" th:field="*{confirmPassword}" name="confirmPassword" placeholder="Парольді қайталаңыз *">
    <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Пароль сәйкес келмейді</div>
    <span class="focus-input100"></span>
  </div>
  <div class="container-login100-form-btn">
    <button class="login100-form-btn" type="submit">
      Тіркелу
    </button>
  </div>
</form>
</body>
</html>